@model PhoneRepository.Models.Contact

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Phone)
    </td>
    <td>
        @Html.ActionLink("Update", "Update", new { id = Model.Id }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>
